main{
  border-style: solid;
  margin: 2% 2% 2% 2%;
}

.flexRow{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2% 5% 0% 5%;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 5% 2% 5%;
}

.divContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 1% 1% 1%;
  height: 150px;
  width: 150px;
}

#one{
  background-color: rgb(203, 228, 243);
}

#two{
  background-color: rgb(241, 140, 110);
}

#three{
  background-color: rgb(157, 243, 136);
}

#four{
  background-color: rgb(255, 172, 117);
}

#five{
  background-color: rgb(250, 185, 196);
}

#six{
  background-color: rgb(221, 221, 221);
}

#seven{
  background-color: rgb(234, 253, 255);
}

#eight{
  background-color: rgb(129, 204, 248);
}