@mixin flexCenteredColumn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

@mixin boldArial{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

// @mixin borders{
//   borderweight: 2px;
// }